<!doctype html>
<html lang="en" th:replace="~{base ::parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
    <title>Customers</title>
</head>
<body>
<div id="content">
    <div class="pt-5 sm:pl-64">
        <div th:replace="~{user/party/cust_supp_fragment ::cust_supp_fragment}"></div>
        <div class="text-center">
            <div th:replace="~{user/party/add_party_drawer ::addPartyDrawer}"></div>
        </div>
    </div>
</div>
<script>
    const toggleButton = document.getElementById('addGSTBtn');
    const myDiv = document.getElementById('GSTAddLayout');

    toggleButton.addEventListener('click', () => {
        if (myDiv.style.display === 'none') {
            myDiv.style.display = 'block';
        } else {
            myDiv.style.display = 'none';
        }
    });

</script>
<script data-th-src="@{/js/partyValidation.js}"></script>
<script data-th-src="@{/js/partyFilteration.js}"></script>
<script data-th-src="@{/js/formateDate.js}"></script>
</body>
</html>