<!doctype html>
<html lang="en" th:replace="~{base ::parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
    <title>Supplier</title>
</head>
<body>
<div id="content" class="h-screen">


    <div class="pt-20 sm:pl-64">
        <div class="text-center">
            <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                    type="button" data-drawer-target="drawer-right-example" data-drawer-show="drawer-right-example"
                    data-drawer-placement="right" aria-controls="drawer-right-example">
                Show right drawer
            </button>
            <!--            <div th:replace="~{drawer::addPartyDrawer}"> </div>-->
            <div id="drawer-right-example"
                 class=" fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80 dark:bg-gray-800"
                 tabindex="-1" aria-labelledby="drawer-right-label">


                <div class="max-w-md mx-auto bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200 rounded-lg shadow-lg p-6">
                    <!-- Header -->
                    <div class="flex justify-between items-center mb-6">
                        <h2 class="text-xl font-semibold text-indigo-600 dark:text-indigo-400">Add New Party</h2>
                        <button type="button" data-drawer-hide="drawer-right-example"
                                aria-controls="drawer-right-example"
                                class="text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </div>

                    <!-- Form -->
                    <form data-th-action="@{'/users/party/creteParty'}" data-th-object="${partyForm}" method="post">
                        <!-- Party Name -->
                        <div class="mt-4">
                            <label for="party-name"
                                   class="flex justify-start text-sm font-medium text-gray-700 dark:text-gray-300">Party
                                Name</label>
                            <input data-th-field="*{name}" type="text" id="party-name" required
                                   class="mt-2 block w-full rounded-lg border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-800 placeholder-gray-400 dark:placeholder-gray-500 focus:ring-2 focus:ring-indigo-500 focus:outline-none px-4 py-2 text-sm"
                                   placeholder="Enter Party Name">
                        </div>

                        <!-- Phone Number -->
                        <div class="mt-4">
                            <label for="phone-number"
                                   class="flex justify-start text-sm font-medium text-gray-700 dark:text-gray-300">
                                Phone Number <span class="text-gray-500 dark:text-gray-400">(optional)</span>
                            </label>
                            <div class="flex items-center mt-2">
                                <span class="inline-flex p-2 items-center px-3 rounded-l-lg border border-r-0 border-gray-300 dark:border-gray-700 bg-gray-100 dark:bg-gray-800 text-gray-600 dark:text-gray-400 text-sm">
                                  +91
                                </span>
                                <input data-th-field="*{number}" type="text" id="phone-number"
                                       class="flex-1 border border-r-0 block w-full rounded-r-lg border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-800 placeholder-gray-400 dark:placeholder-gray-500 focus:ring-2 focus:ring-indigo-500 focus:outline-none px-4 py-2 text-sm"
                                       placeholder="Enter Phone Number">
                            </div>
                            <p id="mobileNumberError" class="flex justify-start text-sm text-red-500 hidden">Invalid Number</p>
                        </div>

                        <!-- Opening Balance -->
                        <div class="mt-4">
                            <label for="opening-balance"
                                   class="flex justify-start text-sm font-medium text-gray-700 dark:text-gray-300">
                                Opening Balance <span class="text-gray-500 dark:text-gray-400">(optional)</span>
                            </label>
                            <div class="flex items-center mt-2">
                                <span class="inline-flex p-2 items-center px-3 rounded-l-lg border border-r-0 border-gray-300 dark:border-gray-700 bg-gray-100 dark:bg-gray-800 text-gray-600 dark:text-gray-400 text-sm">
                                  ₹
                                </span>
                                <input data-th-field="*{balance}" type="number" id="opening-balance"
                                       class="flex-1 border border-r-0 block w-full rounded-none border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-800 placeholder-gray-400 dark:placeholder-gray-500 focus:ring-2 focus:ring-indigo-500 focus:outline-none px-4 py-2 text-sm"
                                       placeholder="Enter amount">
                                <select data-th-field="*{transectionType}"
                                        class="rounded-r-lg border border-l-0 border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-300 focus:ring-2 focus:ring-indigo-500 focus:outline-none px-3 py-2 text-sm">
                                    <option value="you-gave">You Gave</option>
                                    <option value="you-got">You Got</option>
                                </select>
                            </div>
                            <p id="amountError" class="flex justify-start text-sm text-red-500 hidden">Invalid Amount</p>
                        </div>

                        <!-- Customer or Supplier -->
                        <div class="mt-4">
                            <label class="flex justify-start text-sm font-medium text-gray-700 dark:text-gray-300">Who
                                are they?</label>
                            <div class="flex items-center mt-2 gap-4 space-x-6">
                                <div class="flex items-center">
                                    <input data-th-field="*{partyType}" value="CUSTOMER" id="customer" name="party-type"
                                           type="radio"
                                           class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-800">
                                    <label for="customer"
                                           class="ml-2 text-sm font-medium text-gray-700 dark:text-gray-300">Customer</label>
                                </div>
                                <div class="flex items-center ms-2">
                                    <input data-th-field="*{partyType}" value="SUPPLIER" id="supplier" name="party-type"
                                           type="radio"
                                           class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-800">
                                    <label for="supplier"
                                           class="ml-2 text-sm font-medium text-gray-700 dark:text-gray-300">Supplier</label>
                                </div>
                            </div>
                        </div>

                        <!-- GSTIN and Address -->
                        <button id="addGSTBtn" type="button" data-dropdown-toggle="dropdown"
                                class="mt-4 flex gap-4 w-full text-indigo-600 dark:text-indigo-400 text-sm font-medium hover:underline">
                            <span class="justify-start ">Add GSTIN & Address (Optional)</span>

                            <svg class="justify-end" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20"
                                 height="20" viewBox="0 0 50 50"
                                 style="fill:#228BE6;">
                                <path d="M 9 4 C 6.2504839 4 4 6.2504839 4 9 L 4 41 C 4 43.749516 6.2504839 46 9 46 L 41 46 C 43.749516 46 46 43.749516 46 41 L 46 9 C 46 6.2504839 43.749516 4 41 4 L 9 4 z M 9 6 L 41 6 C 42.668484 6 44 7.3315161 44 9 L 44 41 C 44 42.668484 42.668484 44 41 44 L 9 44 C 7.3315161 44 6 42.668484 6 41 L 6 9 C 6 7.3315161 7.3315161 6 9 6 z M 36.990234 18.986328 A 1.0001 1.0001 0 0 0 36.292969 19.292969 L 25 30.585938 L 13.707031 19.292969 A 1.0001 1.0001 0 0 0 12.990234 18.990234 A 1.0001 1.0001 0 0 0 12.292969 20.707031 L 25 33.414062 L 37.707031 20.707031 A 1.0001 1.0001 0 0 0 36.990234 18.986328 z"></path>
                            </svg>
                        </button>


                        <div id="GSTAddLayout"
                             class="hidden  bg-white dark:bg-gray-900 dark:text-gray-200 pt-6 pb-6">
                            <!-- GSTIN -->
                            <div class="mt-4">
                                <label for="gstin"
                                       class="flex justify-start text-sm font-medium text-gray-700 dark:text-gray-300">GSTIN</label>
                                <input data-th-field="*{gstIN}" type="text" id="gstin"
                                       class="mt-2 block w-full rounded-lg border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-800 placeholder-gray-400 dark:placeholder-gray-500 focus:ring-2 focus:ring-indigo-500 focus:outline-none px-4 py-2 text-sm"
                                       placeholder="Add GSTIN">
                            </div>

                            <!-- Shipping Address -->
                            <div class="mt-4 flex justify-start">
                                <h3 class="text-sm font-semibold text-gray-800 dark:text-gray-300">Shipping Address</h3>
                            </div>

                            <!-- Flat / Building Number -->
                            <div class="mt-4">
                                <label for="flat"
                                       class="flex justify-start text-sm font-medium text-gray-700 dark:text-gray-300">Flat
                                    / Building Number</label>
                                <input data-th-field="*{houseNumber}" type="text" id="flat"
                                       class="mt-2 block w-full rounded-lg border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-800 placeholder-gray-400 dark:placeholder-gray-500 focus:ring-2 focus:ring-indigo-500 focus:outline-none px-4 py-2 text-sm"
                                       placeholder="Enter Flat / Building Number">
                            </div>

                            <!-- Area / Locality -->
                            <div class="mt-4">
                                <label for="area"
                                       class="flex justify-start text-sm font-medium text-gray-700 dark:text-gray-300">Area
                                    / Locality</label>
                                <input data-th-field="*{area}" type="text" id="area"
                                       class="mt-2 block w-full rounded-lg border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-800 placeholder-gray-400 dark:placeholder-gray-500 focus:ring-2 focus:ring-indigo-500 focus:outline-none px-4 py-2 text-sm"
                                       placeholder="Enter Area / Locality">
                            </div>

                            <!-- PIN Code -->
                            <div class="mt-4">
                                <label for="pincode"
                                       class="flex justify-start text-sm font-medium text-gray-700 dark:text-gray-300">PIN
                                    Code</label>
                                <input data-th-field="*{pincode}" type="text" id="pincode"
                                       class="mt-2 block w-full rounded-lg border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-800 placeholder-gray-400 dark:placeholder-gray-500 focus:ring-2 focus:ring-indigo-500 focus:outline-none px-4 py-2 text-sm"
                                       placeholder="Enter PIN Code">
                            </div>

                            <!-- City and State -->
                            <div class="grid grid-cols-2 gap-4 mt-4">
                                <div>
                                    <label for="city"
                                           class="flex justify-start text-sm font-medium text-gray-700 dark:text-gray-300">City</label>
                                    <input data-th-field="*{city}" type="text" id="city"
                                           class="mt-2 block w-full rounded-lg border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-800 placeholder-gray-400 dark:placeholder-gray-500 focus:ring-2 focus:ring-indigo-500 focus:outline-none px-4 py-2 text-sm"
                                           placeholder="Enter City">
                                </div>
                                <div>
                                    <label for="state"
                                           class="flex justify-start text-sm font-medium text-gray-700 dark:text-gray-300">State</label>
                                    <input data-th-field="*{state}" type="text" id="state"
                                           class="mt-2 block w-full rounded-lg border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-800 placeholder-gray-400 dark:placeholder-gray-500 focus:ring-2 focus:ring-indigo-500 focus:outline-none px-4 py-2 text-sm"
                                           placeholder="Enter State">
                                </div>
                            </div>

                        </div>

                        <!-- Add Customer Button -->
                        <div>
                            <button id="submitBtn" disabled
                                    class="mt-4 w-full text-white bg-gray-400 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 mb-2">
                                Add New Party
                            </button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>


</div>
<script>
    const toggleButton = document.getElementById('addGSTBtn');
    const myDiv = document.getElementById('GSTAddLayout');

    toggleButton.addEventListener('click', () => {
        if (myDiv.style.display === 'none') {
            myDiv.style.display = 'block'; // Show the div
        } else {
            myDiv.style.display = 'none'; // Hide the div
        }
    });
</script>
<script data-th-src="@{/js/partyValidation.js}">

</script>

</body>
</html>