<!doctype html>
<html lang="en" th:replace="~{base ::parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
    <title data-th-text="${loggedInUser.name}">Dashboard</title>
</head>
<body>
<div id="content" class="h-screen">


    <div class="pt-10 sm:pl-64">
        <div class="flex justify-center flex-col items-center">
            <div class="bg-white dark:bg-gray-800 shadow-2xl rounded-lg w-full max-w-xl p-6">
                <div class="flex justify-between items-center mb-4">
                    <h1 class="text-xl font-bold text-gray-800 dark:text-gray-200">Sale Bill</h1>
                    <span class="text-sm text-gray-500 dark:text-gray-400 flex items-center space-x-1">
        <i data-feather="calendar" class="w-4 h-4 text-gray-500 dark:text-gray-400"></i>
        <span>28 Dec 24</span>
      </span>
                </div>

                <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center border-b pb-4 mb-4 dark:border-gray-600">
                    <div class="mb-4 sm:mb-0">
                        <span class="text-gray-500 dark:text-gray-400 text-sm">Sale Bill Number</span>
                        <h2 class="text-2xl font-semibold text-blue-600 dark:text-blue-400">14</h2>
                    </div>
                    <button class="text-blue-600 dark:text-blue-400 text-sm flex items-center space-x-1">
                        <i data-feather="edit" class="w-4 h-4"></i>
                        <span>Edit</span>
                    </button>
                </div>

                <div id="noPartySelectedLayout" class="mb-4">
                    <label for="party" class="text-gray-500 dark:text-gray-400 text-sm block mb-2">Bill To</label>
                    <div class="relative">
                        <input id="party" type="text" readonly placeholder="Search from your parties"
                               data-drawer-target="drawer-right-select-party"
                               data-drawer-show="drawer-right-select-party"
                               aria-controls="drawer-right-select-party"
                               data-drawer-placement="right"
                               class="border rounded-lg w-full p-3 text-sm focus:ring-2 focus:ring-blue-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200">
                        <i data-feather="search"
                           class="w-5 h-5 text-gray-400 absolute right-3 top-3 dark:text-gray-500"></i>
                    </div>
                    <button data-drawer-target="drawer-right-addPartyBill"
                            data-drawer-show="drawer-right-addPartyBill"
                            aria-controls="drawer-right-addPartyBill"
                            data-drawer-placement="right"
                            class="text-blue-600 dark:text-blue-400 text-sm mt-2 flex items-center">
                        <span>+ Add New Party</span>
                    </button>
                </div>

                <div id="showSelectedPartyLayout"
                     class="hidden inline-flex mb-4 items-center justify-between w-full p-4 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-500 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-900 hover:bg-gray-100 dark:text-white dark:bg-gray-600 dark:hover:bg-gray-500">
                    <input type="text" id="partyId" name="selectedPartyId"
                           class="hidden peer"/>
                    <div class="flex items-center gap-2">

                        <div id="firstChar">

                        </div>
                        <div>
                            <div id="partyName" class="w-full text-md font-semibold"></div>
                            <div id="partyMobile" class="w-full text-gray-500 dark:text-gray-400"></div>
                        </div>
                        <button type="button" onclick="removeParty()"
                                class="ml-auto text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </div>
                </div>


                <div id="noItemSelectedLayout" class="border-t pt-4 dark:border-gray-600 mb-4">
                    <label for="item" class="text-gray-500 dark:text-gray-400 text-sm block mb-2">Item </label>
                    <div class="relative">
                        <input id="item" type="text" readonly placeholder="Search from your Inventory"
                               onclick="setData()"
                               data-drawer-target="drawer-right-add-item"
                               data-drawer-show="drawer-right-add-item"
                               aria-controls="drawer-right-add-item"
                               data-drawer-placement="right"
                               class="border rounded-lg w-full p-3 text-sm focus:ring-2 focus:ring-blue-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200">
                        <i data-feather="search"
                           class="w-5 h-5 text-gray-400 absolute right-3 top-3 dark:text-gray-500"></i>
                    </div>
                    <button data-drawer-target="drawer-right-addItemBill"
                            data-drawer-show="drawer-right-addItemBill"
                            aria-controls="drawer-right-addItemBill"
                            data-drawer-placement="right"
                            class="text-blue-600 dark:text-blue-400 text-sm mt-2 flex items-center">
                        <span>+ Add New Item</span>
                    </button>
                </div>


                <div class="selectedItemView border-t pt-4 dark:border-gray-600">
                </div>

                <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center border-t py-4 dark:border-gray-600">
                    <button data-drawer-target="drawer-right-add-item"
                            data-drawer-show="drawer-right-add-item"
                            aria-controls="drawer-right-add-item"
                            data-drawer-placement="right"
                            class="text-blue-600 dark:text-blue-400 text-sm flex items-center space-x-1 mb-4 sm:mb-0">
                        <i data-feather="edit-2" class="w-4 h-4"></i>
                        <span>Edit or Add Items</span>
                    </button>
                    <p class="font-semibold text-gray-800 dark:text-gray-200">Item Sub-Total: &#8377; <span
                            id="totalAmount"></span></p>
                </div>

                <div class="mb-4">
                    <div class="flex flex-col sm:flex-row justify-between mb-4">
                        <label class="flex items-center space-x-2 mb-2 sm:mb-0">
                            <input type="radio" name="payment"
                                   class="form-radio text-blue-500 dark:bg-gray-700 dark:border-gray-600">
                            <span class="text-sm text-gray-800 dark:text-gray-200">Unpaid</span>
                        </label>

                        <label class="flex items-center space-x-2 mb-2 sm:mb-0">
                            <input type="radio" name="payment"
                                   class="form-radio text-blue-500 dark:bg-gray-700 dark:border-gray-600">
                            <span class="text-sm text-gray-800 dark:text-gray-200">Cash</span>
                        </label>

                        <label class="flex items-center space-x-2">
                            <input type="radio" name="payment"
                                   class="form-radio text-blue-500 dark:bg-gray-700 dark:border-gray-600">
                            <span class="text-sm text-gray-800 dark:text-gray-200">Online</span>
                        </label>
                    </div>

                    <div class="flex justify-between">
                        <p class="text-gray-500 dark:text-gray-400">Balance Due:</p>
                        <p class="font-semibold text-gray-800 dark:text-gray-200">&#8377; 0</p>
                    </div>
                </div>

                <button class="w-full bg-gradient-to-r from-blue-500 to-blue-600 text-white py-3 rounded-lg font-semibold shadow-md hover:from-blue-600 hover:to-blue-700 transition dark:from-blue-700 dark:to-blue-800 dark:hover:from-blue-800 dark:hover:to-blue-900">
                    Generate Sale Bill &#8377; 280
                </button>
            </div>
        </div>
    </div>
    <div th:replace="~{user/bill/discount_modal ::discount_modal}"></div>
    <div th:replace="~{user/bill/select_party_drawer ::selectParty}"></div>
    <div th:replace="~{user/bill/add_party_bill_drawer ::addPartyBillDrawer}"></div>
    <div th:replace="~{user/bill/select_item_drawer ::addItemBillDrawer}"></div>


</div>
<script>console.log("Dashboard")</script>
<script>

    function setPartyData(element) {

        const colorMap = {
            A: "bg-yellow-500",
            B: "bg-blue-500",
            C: "bg-green-500",
            D: "bg-yellow-500",
            E: "bg-indigo-500",
            F: "bg-pink-500",
            G: "bg-purple-500",
            H: "bg-gray-500",
            I: "bg-red-500",
            J: "bg-blue-500",
            K: "bg-green-500",
            L: "bg-yellow-500",
            M: "bg-indigo-500",
            N: "bg-pink-500",
            O: "bg-purple-500",
            P: "bg-gray-500",
            Q: "bg-red-500",
            R: "bg-blue-500",
            S: "bg-green-500",
            T: "bg-yellow-500",
            U: "bg-indigo-500",
            V: "bg-pink-500",
            W: "bg-purple-500",
            X: "bg-gray-500",
            Y: "bg-red-500",
            Z: "bg-blue-500",
        };
        const partyName = element.getAttribute('data-name');
        const partyMobile = element.getAttribute('data-mobile');
        const partyId = element.getAttribute('data-id');
        const firstChar = partyName.charAt(0).toUpperCase();
        const bgColor = colorMap[firstChar] || "bg-gray-500";
        const div = document.createElement("div");
        div.className = `w-12 h-12 text-black dark:text-white size-4 rounded-full flex justify-center items-center font-medium shadow-md transition-transform transform hover:scale-105 ${bgColor}`;
        div.innerHTML = `<span class="text-xl">${firstChar}</span>`;

        document.getElementById('firstChar').appendChild(div);
        document.getElementById('partyName').textContent = partyName;
        document.getElementById('partyMobile').textContent = partyMobile;
        document.getElementById('partyId').value = partyId;

        document.getElementById('drawer-right-select-party');
        document.getElementById('noPartySelectedLayout').style.display = 'none';
        document.getElementById('showSelectedPartyLayout').style.display = 'block';
    }
</script>
<script>
    function removeParty() {
        document.getElementById('firstChar').innerHTML = '';
        document.getElementById('noPartySelectedLayout').style.display = 'block';
        document.getElementById('showSelectedPartyLayout').style.display = 'none';
        document.getElementById('partyId').value = '';
    }
</script>


<script>

    let currItem;

    function modifyItem(element) {
        currItem = element;
        const productId = element.getAttribute('data-product-id');
        const serviceId = element.getAttribute('data-service-id');
        const productName = element.getAttribute('data-item-name');
        const productSalePrice = element.getAttribute('data-item-sale-price');
        let discountType = element.getAttribute('data-discount-type');
        let discount = element.getAttribute('data-discount-amount');

        document.getElementById('itemName').textContent = productName;
        document.getElementById('itemSalePrice').value = parseInt(productSalePrice, 0);
        document.getElementById('amount').textContent = productSalePrice;
        document.getElementById('totalCalculatedAmount').textContent = `${productSalePrice - discount}`;
        document.getElementById('discountAmount').textContent = `${discount}`;
        if (discountType === 'PERCENTAGE') {
            discount = (discount * 100) / productSalePrice;
        }
        document.getElementById('itemDiscountFromDiscountModel').value = discount;
        console.log(discountType);

        if (discountType === null) {
            discountType = 'FLAT';
        }
        document.getElementById('discountType').value = discountType;
        console.log(discountType);
        const btnSave = document.getElementById('btnSave');
        btnSave.setAttribute('data-discount-type', discountType);
        btnSave.setAttribute('data-product-id', productId);
        btnSave.setAttribute('data-service-id', serviceId);
    }

    function finalPriceCalculation() {
        const itemPrice = parseInt(document.getElementById('itemSalePrice').value);
        let discount = parseInt(document.getElementById('itemDiscountFromDiscountModel').value);
        const discountType = document.getElementById('discountType').value;
        let finalPrice = 0, discountAmount = 0;
        document.getElementById('amount').textContent = `${itemPrice}`;
        if (discount === null) {
            discount = 0;
        }
        if (discountType === 'PERCENTAGE') {
            if (discount > 100) {
                discount = 100;
            }
            discountAmount = (itemPrice * discount) / 100;
        } else {
            if (discount > itemPrice) {
                discount = itemPrice;
            }
            discountAmount = discount;
        }
        document.getElementById('itemDiscount').value = discount;

        finalPrice = itemPrice - discountAmount;
        document.getElementById('discountAmount').textContent = `${discountAmount}`;
        document.getElementById('totalCalculatedAmount').textContent = `${finalPrice}` ? `${finalPrice}` : 0;
        console.log('' + (parseInt(itemPrice, 0) - parseInt(discount ? discount : 0)));

    }

    function editProductTransaction(element) {
        const productId = element.getAttribute('data-product-id');
        const serviceId = element.getAttribute('data-service-id');
        const itemSalePrice = document.getElementById('itemSalePrice').value;
        const itemDiscount = document.getElementById('discountAmount').textContent;
        const  discountType = document.getElementById('discountType').value;
        currItem.setAttribute('data-item-sale-price', itemSalePrice);
        currItem.setAttribute('data-discount-amount', itemDiscount);
        currItem.setAttribute('data-discount-type', discountType);
        console.log("=========" + currItem.getAttribute('data-item-sale-price'));

        //if productId is not null then it is a product
        if (productId !== 'null') {
            const productTransactionsList = document.getElementsByClassName('productTransactionsList');
            Array.from(productTransactionsList).forEach(item => {
                console.log("item.getAttribute; " + item.getAttribute('data-product-id'));
                if (item.getAttribute('data-product-id') === productId) {
                    const itemPrice = item.querySelector('#itemPrice');
                    const discount = item.querySelector('#itemDiscount');
                    const finalPrice = item.querySelector('#itemFinalPrice');
                    const itemAddEditBtnFromDrawer = item.querySelector('#itemAddEditBtnFromDrawer');

                    itemPrice.textContent = '₹ ' + currItem.getAttribute('data-item-sale-price');
                    itemPrice.setAttribute('data-price', currItem.getAttribute('data-item-sale-price'));

                    discount.textContent = '₹ ' + itemDiscount;
                    discount.setAttribute('data-discount', itemDiscount);

                    finalPrice.textContent = '₹ ' + (parseInt(itemPrice.getAttribute('data-price'), 0) - parseInt(itemDiscount, 0));
                    finalPrice.setAttribute('data-final-price', '' + (parseInt(itemPrice.getAttribute('data-price'), 0) - parseInt(itemDiscount, 0)));


                    itemAddEditBtnFromDrawer.setAttribute('data-discount-type', document.getElementById('discountType').value);
                    console.log(itemAddEditBtnFromDrawer.getAttribute('data-discount-type'));

                }
            });
        } else {
            const serviceTransactionsList = document.getElementsByClassName('serviceTransactionsList');
            Array.from(serviceTransactionsList).forEach(item => {
                if (item.getAttribute('data-service-id') === serviceId) {
                    const itemPrice = item.querySelector('#itemPriceService');
                    const discount = item.querySelector('#itemDiscountService');
                    const finalPrice = item.querySelector('#itemFinalPriceService');
                    const itemAddEditBtnFromDrawer = item.querySelector('#itemAddEditBtnFromDrawer');

                    itemPrice.textContent = '₹ ' + currItem.getAttribute('data-item-sale-price');
                    itemPrice.setAttribute('data-price', currItem.getAttribute('data-item-sale-price'));

                    discount.textContent = '₹ ' + itemDiscount;
                    discount.setAttribute('data-discount', itemDiscount);

                    finalPrice.textContent = '₹ ' + (parseInt(itemPrice.getAttribute('data-price'), 0) - parseInt(itemDiscount, 0));
                    finalPrice.setAttribute('data-final-price', '' + (parseInt(itemPrice.getAttribute('data-price'), 0) - parseInt(itemDiscount, 0)));

                    itemAddEditBtnFromDrawer.setAttribute('data-discount-type', document.getElementById('discountType').value);
                    console.log(itemAddEditBtnFromDrawer.getAttribute('data-discount-type'));
                }
            });
        }
        element.setAttribute('data-discount-type', null);
        element.setAttribute('data-product-id', null);
        element.setAttribute('data-service-id', null);

        document.getElementById('itemSalePrice').value = 0;
        document.getElementById('discountAmount').textContent = '0';
        document.getElementById('discountType').value = null;

    }


</script>

<script>
    function setData() {

        const productTransactionsList = document.getElementsByClassName('productTransactionsList');
        Array.from(productTransactionsList).forEach(item => {
            const itemPrice = item.querySelector('#itemPrice');
            const discount = item.querySelector('#itemDiscount');
            const finalPrice = item.querySelector('#itemFinalPrice');
            itemPrice.textContent = '₹ ' + itemPrice.getAttribute('data-price');
            discount.textContent = '₹ ' + discount.getAttribute('data-discount');
            finalPrice.textContent = '₹ ' + finalPrice.getAttribute('data-final-price');
        });

        const serviceTransactionsList = document.getElementsByClassName('serviceTransactionsList');
        Array.from(serviceTransactionsList).forEach(item => {
            const itemPrice = item.querySelector('#itemPriceService');
            const discount = item.querySelector('#itemDiscountService');
            const finalPrice = item.querySelector('#itemFinalPriceService');
            itemPrice.textContent = '₹ ' + itemPrice.getAttribute('data-price');
            discount.textContent = '₹ ' + discount.getAttribute('data-discount');
            finalPrice.textContent = '₹ ' + finalPrice.getAttribute('data-final-price');
        });
    }
</script>

<script>
    let productTransactions = [];

    function updateList(layout) {
        if (layout === 'ServicesListLayout') {
            document.getElementById('servicesListLayout').style.display = '';
            document.getElementById('productsListLayout').style.display = 'none';
        } else {
            document.getElementById('servicesListLayout').style.display = 'none';
            document.getElementById('productsListLayout').style.display = '';
        }
    }

    function addItemsList() {
        transactions = [];
        let productTransactionsList = document.getElementsByClassName('productTransactionsList');
        Array.from(productTransactionsList).forEach(productTransaction => {
            let quantity = productTransaction.querySelector('.quantity').value;
            if (parseInt(quantity) > 0) {
                let product = {
                    id: productTransaction.getAttribute('data-product-id'),
                    name: productTransaction.querySelector('#itemName').textContent,
                    quantity: quantity,
                    salePrice: productTransaction.querySelector('#itemPrice').textContent,
                    discount: productTransaction.querySelector('#itemDiscount').textContent,
                    finalPrice: productTransaction.querySelector('#itemFinalPrice').textContent.split(' ')[1]
                };
                transactions.push(product);
            }
        });
        console.log(transactions);

        let serviceTransactionsList = document.getElementsByClassName('serviceTransactionsList');
        Array.from(serviceTransactionsList).forEach(productTransaction => {
            let quantity = productTransaction.querySelector('.quantity').value;
            if (parseInt(quantity) > 0) {
                let service = {
                    id: productTransaction.getAttribute('data-product-id'),
                    name: productTransaction.querySelector('#itemNameService').textContent,
                    quantity: quantity,
                    salePrice: productTransaction.querySelector('#itemPriceService').textContent,
                    discount: productTransaction.querySelector('#itemDiscountService').textContent,
                    finalPrice: productTransaction.querySelector('#itemFinalPriceService').textContent.split(' ')[1]
                };
                transactions.push(service);
            }
        });
        console.log(transactions);

        const itemView = document.getElementById('noItemSelectedLayout');

        itemView.style.display = (transactions.length > 0) ? 'none' : '';

        setProductTransactions();
    }

    // set the productTransactions data in this view :
    // <div class="flex justify-between items-center mb-2">
    // <p className="text-gray-800 dark:text-gray-200">mouse</p>
    // <p className="text-gray-800 dark:text-gray-200 font-semibold">&#8377; 224</p>
    // </div>
    // <p className="text-sm text-gray-500 dark:text-gray-400">4.0 x &#8377; 56</p>
    //and show this view in the selected item view
    function setProductTransactions() {
        const selectedItemView = document.querySelector('.selectedItemView');
        selectedItemView.innerHTML = '';
        let totalAmount = 0;
        transactions.forEach(product => {
            const div = document.createElement('div');
            div.className = 'flex justify-between items-center mb-2';
            div.innerHTML = `<p class="hidden text-gray-800 dark:text-gray-200">${product.id}</p>
                             <p class="text-gray-800 dark:text-gray-200">${product.name}</p>
                             <p class="text-gray-800 dark:text-gray-200 font-semibold">&#8377; ${product.finalPrice * product.quantity}</p>`;
            selectedItemView.appendChild(div);
            const p = document.createElement('p');
            p.className = 'text-sm text-gray-500 dark:text-gray-400';
            p.textContent = `${product.quantity} x ${product.finalPrice}`;
            totalAmount += product.finalPrice * product.quantity;
            selectedItemView.appendChild(p);
        });
        document.getElementById('totalAmount').textContent = totalAmount;
    }


</script>

</body>
</html>