<!doctype html>
<html lang="en" th:replace ="~{base ::parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
    <title>Purchase Bills</title>
</head>
<body>
<div id="content" class="h-screen">



    <div class="pt-20 sm:pl-64">
        <div th:replace="~{user/bill/bill_fragment ::billFragment}"></div>
    </div>

</div>
<script>
    function addBillClickListener(element) {
        const billType = element.getAttribute('data-bill-type');
        element.addEventListener('click', function () {
            window.location.href = "/users/transactions/add-bill/" +billType;
        });
    }
</script>
<script>console.log("Purchase")</script></body>
</html>