<!-- drawer component -->


<div th:fragment="selectInvoice" id="drawer-right-select-invoice"
     class=" fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-auto dark:bg-gray-800"
     tabindex="-1" aria-labelledby="drawer-right-label">


    <div class="max-w-md w-72 md:w-96 bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200 rounded-lg shadow-lg p-6">
        <!-- Header -->
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-xl font-semibold text-indigo-600 dark:text-indigo-400">Select Party</h2>
            <button type="button" data-drawer-hide="drawer-right-select-invoice"
                    aria-controls="drawer-right-select-invoice"
                    class="text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                </svg>
            </button>
        </div>



        <div>
            <label for="input-search-invoice" class="sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="text" id="input-search-invoice"
                       oninput="searchInvoice(this)"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Search Unit Type">
            </div>

            <ul onclick="setInvoiceData(this)" data-th-each="bill : ${bills}" data-th-object="${bill}"
                th:data-id="*{id}"
                th:data-name="${bill.getParty().getName()}"
                class="space-y-4 mb-4 mt-4 partyList">
                <li data-drawer-hide="drawer-right-select-party"
                    aria-controls="drawer-right-select-party">
                    <label th:for="partyListView"
                           class="inline-flex items-center justify-between w-full p-4 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-500 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-900 hover:bg-gray-100 dark:text-white dark:bg-gray-600 dark:hover:bg-gray-500">
                        <div class="flex items-center gap-2">
                            <div>
                                <div class="w-full text-md font-semibold" th:data-name="${bill.getParty().getName()}" data-th-text="${bill.getParty().getName()}"></div>
                                <div class="w-full text-gray-500 dark:text-gray-400" th:data-date="${bill.getDate()}" data-th-text="${bill.getDate()}"></div>
                            </div>
                        </div>
                        <svg class="w-4 h-4 ms-3 rtl:rotate-180 text-gray-500 dark:text-gray-400"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </label>
                </li>
            </ul>

        </div>

    </div>

    <script>
        function searchInvoice() {

            const searchQuery = document.getElementById('input-search-invoice').value.toLowerCase();
            const customers = document.getElementsByClassName('partyList');


            Array.from(customers).forEach(customer => {
                const name = customer.querySelector('[data-name]').textContent.toLowerCase();
                // const mobile = customer.querySelector('[data-mobile]').textContent.toLowerCase();
                let show = true;

                // Apply search filter
                if (!name.includes(searchQuery)) {
                    show = false;
                }

                customer.style.display = show ? '' : 'none';
            });
        }
    </script>
</div>