<!-- drawer component -->
<div th:fragment="addItemBillDrawer" id="drawer-right-add-item"
     class=" fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-auto dark:bg-gray-800"
     tabindex="-1" aria-labelledby="drawer-right-label">


    <div class="max-w-md w-72 md:w-96 bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200 rounded-lg shadow-lg p-6">
        <!-- Header -->
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-xl font-semibold text-indigo-600 dark:text-indigo-400">Select Items</h2>
            <button type="button" data-drawer-hide="drawer-right-add-item"
                    aria-controls="drawer-right-add-item"
                    class="text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                </svg>
            </button>
        </div>


        <div>
            <label for="input-search-party" class="sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="text" id="input-search-party"

                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Search Unit Type">
            </div>
            <div class="flex my-3 gap-3">
                <button id="productsBtn" type="button"
                        onclick="updateList('ProductsListLayout')"
                        class="flex items-center gap-3 px-4 py-2 text-sm bg-gray-200 dark:bg-gray-700 hover:bg-blue-100 dark:hover:bg-blue-800 text-gray-800 dark:text-gray-100 rounded-full shadow transition">

                    Products
                </button>
                <button id="servicesBtn" type="button"
                        onclick="updateList('ServicesListLayout')"
                        class="flex items-center gap-3 px-4 py-2 text-sm bg-gray-200 dark:bg-gray-700 hover:bg-blue-100 dark:hover:bg-blue-800 text-gray-800 dark:text-gray-100 rounded-full shadow transition">

                    Services
                </button>
            </div>
            <div style="height: 400px"
                 class=" overflow-y-scroll scrollbar-thin scrollbar-thumb-gray-400 hover:scrollbar-thumb-gray-500 scrollbar-track-gray-200 dark:scrollbar-thumb-gray-600 dark:hover:scrollbar-thumb-gray-500 dark:scrollbar-track-gray-800 mt-2">
                <div id="productsListLayout">
                    <div data-th-each="transaction : ${productTransactions}" data-th-object="${transaction} ">
                        <div th:data-product-id="${transaction.getProduct().getId()}"
                             class=" productTransactionsList bg-gray-100 dark:bg-gray-900 mb-4 flex justify-center"
                             th:data-product-transaction-list="${productTransactions}">

                            <!-- Product Card -->
                            <div class="bg-white dark:bg-gray-800 shadow-lg rounded-lg w-full max-w-md p-4 hover:shadow-xl">
                                <!-- Product Details -->
                                <div class="flex items-center">
                                    <img th:src="${transaction.getProduct().getImage()}" alt="item Image"
                                         class="w-14 h-14 items-start rounded-full border-2 border-blue-500 dark:border-yellow-400">
                                    <div class="ml-4 flex-1">
                                        <h3 id="itemName" class="items-start font-bold text-lg text-gray-800 dark:text-gray-100"
                                            data-th-text="${transaction.getProduct().getName()}">ghhj</h3>
                                        <p class="items-start text-gray-600 dark:text-gray-400 text-sm">Current Stock: <span
                                                class="text-red-500 font-semibold"
                                                data-th-text="${transaction.getProduct().getStockQuantity()}">-6</span>
                                        </p>
                                    </div>
                                    <button onclick="quantityLayoutSet(this.parentNode)" type="button"
                                            class="addBtn px-4 py-2 text-sm text-gray-500 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400  rounded-lg border border-gray-300 dark:border-gray-700 hover:border-blue-600 dark:hover:border-blue-400 transition">
                                        Add
                                    </button>
                                </div>

                                <div  style="display: none" class="QuantitySelectedLayout">

                                    <div class="mt-6 flex">
                                        <button onclick="decreaseBtn(this)"
                                                class="minus items-center bg-blue-100 dark:bg-gray-700 text-blue-600 dark:text-gray-300 hover:bg-blue-500 dark:hover:bg-blue-600 hover:text-white px-3 py-1 rounded-l-md transition duration-200">
                                            -
                                        </button>

                                        <input
                                                type="number"
                                                min="0"
                                                th:value="${transaction.getUnit()}"
                                                class="quantity items-center appearance-text w-full py-1 text-center border-y border-gray-300 dark:border-gray-600 dark:bg-gray-700 text-gray-800 dark:text-gray-100 focus:ring-blue-500 focus:border-blue-500 transition duration-200">
                                        <button onclick="increaseBtn(this)"
                                                class="plus items-center mr-3 bg-blue-100 dark:bg-gray-700 text-blue-600 dark:text-gray-300 hover:bg-blue-500 dark:hover:bg-blue-600 hover:text-white px-3 py-1 rounded-r-md transition duration-200">
                                            +
                                        </button>
                                        <button type="button"
                                                id="itemAddEditBtnFromDrawer"
                                                th:data-item-name="${transaction.getProduct().getName()}"
                                                th:data-product-id="${transaction.getProduct().getId()}"
                                                th:data-item-sale-price="${transaction.getProduct().getSalePrice()}"
                                                th:data-discount-type="${transaction.getDiscountType()}"
                                                th:data-discount-amount="${transaction.getDiscountAmount()}"
                                                onclick="modifyItem(this)"
                                                data-modal-target="discount-modal" data-modal-toggle="discount-modal"
                                                class="flex items-center px-3 py-2 text-sm text-gray-500 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400  rounded-lg border border-gray-300 dark:border-gray-700 hover:border-blue-600 dark:hover:border-blue-400 transition">

                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none"
                                                 viewBox="0 0 24 24"
                                                 stroke="currentColor" stroke-width="2">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M15.232 4.232a1 1 0 011.415 0l3.182 3.182a1 1 0 010 1.415l-9.9 9.9a1 1 0 01-.415.263l-3.993 1.033a.25.25 0 01-.307-.308l1.034-3.992a1 1 0 01.263-.415l9.9-9.9z"/>
                                            </svg>
                                            Edit
                                        </button>
                                    </div>
                                    <!-- Sales Price Section -->
                                    <div class=" mt-4 bg-gray-50 dark:bg-gray-700 p-5 rounded-lg shadow-inner">
                                        <div class=" flex justify-between">
                                            <p class="text-gray-600 dark:text-gray-300 font-medium">Sales Price (₹)</p>
                                            <p id="itemPrice" class="font-bold text-gray-800 dark:text-gray-100"
                                               th:data-price="${transaction.getProduct().getSalePrice()}">₹ 0</p>
                                        </div>
                                        <hr class="my-3 border-gray-200 dark:border-gray-600">
                                        <div class="flex justify-between">
                                            <p class="text-gray-600 dark:text-gray-300 font-medium">Item Discount</p>
                                            <p id="itemDiscount" class="text-gray-400 dark:text-gray-500"
                                               th:data-discount="${transaction.getDiscountAmount()}">--</p>
                                        </div>
                                        <div class="flex justify-between mt-3">
                                            <p class="text-gray-600 dark:text-gray-300 font-medium">Final Price</p>
                                            <p id="itemFinalPrice" class="font-bold text-gray-800 dark:text-gray-100"
                                               th:data-final-price="${transaction.getProduct().getSalePrice() - transaction.getDiscountAmount()}">
                                                ₹ 56</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div id="servicesListLayout">
                    <div data-th-each="transaction : ${serviceTransactions}" data-th-object="${transaction} ">
                        <div th:data-service-id="${transaction.getService().getId()}"
                             class="serviceTransactionsList bg-gray-100 dark:bg-gray-900 mb-4 flex justify-center"
                             th:data-service-transaction-list="${serviceTransactions}">

                            <!-- Product Card -->
                            <div class="  bg-white dark:bg-gray-800 shadow-lg rounded-lg w-full max-w-md p-4 hover:shadow-xl">
                                <!-- Product Details -->
                                <div class="flex items-center">
                                    <img th:src="${transaction.getService().getImage()}" alt="item Image"
                                         class="items-start w-14 h-14 rounded-full border-2 border-blue-500 dark:border-yellow-400">
                                    <div class="items-start ml-4 flex-1">
                                        <h3 id="itemNameService"
                                            class="font-bold text-lg text-gray-800 dark:text-gray-100"
                                            data-th-text="${transaction.getService().getName()}">ghhj</h3>
                                    </div>

                                    <button onclick="quantityLayoutSet(this.parentNode)" type="button"
                                            class="addBtn px-4 py-2 text-sm text-gray-500 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400  rounded-lg border border-gray-300 dark:border-gray-700 hover:border-blue-600 dark:hover:border-blue-400 transition">
                                        Add
                                    </button>

                                </div>
                                <div style="display: none" class="QuantitySelectedLayout">
                                    <div class="mt-6 flex">
                                        <button onclick="decreaseBtn(this)"
                                                class="minus items-center bg-blue-100 dark:bg-gray-700 text-blue-600 dark:text-gray-300 hover:bg-blue-500 dark:hover:bg-blue-600 hover:text-white px-3 py-1 rounded-l-md transition duration-200">
                                            -
                                        </button>

                                        <input
                                                type="number"
                                                min="0"
                                                th:value="${transaction.getUnit()}"
                                                class="quantity items-center appearance-text w-full py-1 text-center border-y border-gray-300 dark:border-gray-600 dark:bg-gray-700 text-gray-800 dark:text-gray-100 focus:ring-blue-500 focus:border-blue-500 transition duration-200">
                                        <button onclick="increaseBtn(this)"
                                                class="plus items-center mr-3 bg-blue-100 dark:bg-gray-700 text-blue-600 dark:text-gray-300 hover:bg-blue-500 dark:hover:bg-blue-600 hover:text-white px-3 py-1 rounded-r-md transition duration-200">
                                            +
                                        </button>
                                        <button type="button"
                                                th:data-item-name="${transaction.getService().getName()}"
                                                th:data-service-id="${transaction.getService().getId()}"
                                                th:data-item-sale-price="${transaction.getService().getServicePrice()}"
                                                th:data-discount-type="${transaction.getDiscountType()}"
                                                th:data-discount-amount="${transaction.getDiscountAmount()}"
                                                onclick="modifyItem(this)"
                                                data-modal-target="discount-modal" data-modal-toggle="discount-modal"
                                                class="flex items-center px-3 py-2 text-sm text-gray-500 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400  rounded-lg border border-gray-300 dark:border-gray-700 hover:border-blue-600 dark:hover:border-blue-400 transition">

                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none"
                                                 viewBox="0 0 24 24"
                                                 stroke="currentColor" stroke-width="2">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M15.232 4.232a1 1 0 011.415 0l3.182 3.182a1 1 0 010 1.415l-9.9 9.9a1 1 0 01-.415.263l-3.993 1.033a.25.25 0 01-.307-.308l1.034-3.992a1 1 0 01.263-.415l9.9-9.9z"/>
                                            </svg>
                                            Edit
                                        </button>
                                    </div>
                                    <!-- Sales Price Section -->
                                    <div class=" mt-4 bg-gray-50 dark:bg-gray-700 p-5 rounded-lg shadow-inner">
                                        <div class=" flex justify-between">
                                            <p class="text-gray-600 dark:text-gray-300 font-medium">Sales Price (₹)</p>
                                            <p id="itemPriceService" class="font-bold text-gray-800 dark:text-gray-100"
                                               th:data-price="${transaction.getService().getServicePrice()}">₹ 0</p>
                                        </div>
                                        <hr class="my-3 border-gray-200 dark:border-gray-600">
                                        <div class="flex justify-between">
                                            <p class="text-gray-600 dark:text-gray-300 font-medium">Item Discount</p>
                                            <p id="itemDiscountService" class="text-gray-400 dark:text-gray-500"
                                               th:data-discount="${transaction.getDiscountAmount()}">--</p>
                                        </div>
                                        <div class="flex justify-between mt-3">
                                            <p class="text-gray-600 dark:text-gray-300 font-medium">Final Price</p>
                                            <p id="itemFinalPriceService"
                                               class="font-bold text-gray-800 dark:text-gray-100"
                                               th:data-final-price="${transaction.getService().getServicePrice() - transaction.getDiscountAmount()}">
                                                ₹ 56</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


        <button id="submitBtn" type="button"
                onclick="addItemsList()"
                data-drawer-hide="drawer-right-add-item"
                aria-controls="drawer-right-add-item"
                class=" mt-4 w-full bg-blue-600  text-white shadow-md hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5">
            Continue
        </button>

    </div>
    <script>

        function increaseBtn(element) {
            let quantity = element.parentElement.getElementsByClassName('quantity')[0];
            quantity.value = parseInt(quantity.value) + 1;
        }

        function decreaseBtn(element) {
            let quantity = element.parentElement.getElementsByClassName('quantity')[0];
            let addBtn = element.parentElement.parentElement.parentElement.getElementsByClassName('addBtn')[0];
            const quantityLayout = element.parentElement.parentElement;
            console.log('quantityLayout' + quantityLayout);
            if (parseInt(quantity.value) > 0) {
                quantity.value = parseInt(quantity.value) - 1;
            }
            if (parseInt(quantity.value) === 0) {
                console.log('val == 0  quantityLayout: ' + quantityLayout.style.display);

                addBtn.style.display = '';
                quantityLayout.style.display = 'none';
            }
            console.log('val == 0  updated quantityLayout: ' + quantityLayout.style.display);

        }
    </script>

    <script>
        function quantityLayoutSet(element) {
            let quantityLayout = element.parentElement.getElementsByClassName('QuantitySelectedLayout')[0];
            let addBtn = element.getElementsByClassName('addBtn')[0];
            addBtn.style.display = 'none';
            quantityLayout.style.display = '';
            increaseBtn(element.parentElement.getElementsByClassName('plus')[0]);
        }
    </script>

    <script>
        function searchParty() {

            const searchQuery = document.getElementById('input-search-party').value.toLowerCase();
            const customers = document.getElementsByClassName('partyList');


            Array.from(customers).forEach(customer => {
                const name = customer.querySelector('[data-name]').textContent.toLowerCase();
                const mobile = customer.querySelector('[data-mobile]').textContent.toLowerCase();
                let show = true;

                // Apply search filter
                if (!name.includes(searchQuery) && !mobile.includes(searchQuery)) {
                    show = false;
                }

                customer.style.display = show ? '' : 'none';
            });
        }
    </script>


</div>