<!doctype html>
<html class="light" lang="en"

      th:fragment="parent(content,title, script)"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/output.css}"/>
    <script th:src="@{/js/flowbite.min.js}"></script>


    <title th:replace="${title}">BasePage</title>
</head>
<body class="dark:bg-gray-900 dark:text-white ">
<div th:if="${loggedInUser}">
    <div th:replace="~{sidebar ::sidebar}" ></div>

</div>

<!--<div th:replace="~{switchBusiness ::switchBusiness}" ></div>-->
<div  th:unless="${loggedInUser}">
    <div th:replace="~{navbar ::navbar}"></div>

</div>


<div class="">
    <section th:replace="${content}"></section>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/js/script.js}"></script>
<script th:replace="${script}"></script>
</body>
</html>